.login-container {
  display: none;
  box-shadow: 0px 0px 18px 6px;
  box-shadow: azure;
  z-index: 0;
  background: #fff;
  border-radius: 45px;
  border: 1px solid #fffefe;
  width: 42vw;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.details {
  max-width: 80%;
  position: relative;
  margin: 30px auto;
}
.input {
  gap: 5px;
}
.inputBox {
  font-weight: 700;
  font-family: system-ui;
  font-size: 14px;
  width: 69%;
  padding: 4px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 7px;
  background: transparent;
}

.input > span {
  margin-top: 3px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.confirm {
  width: 100%;
  display: flex;
  justify-content: end;
}
#submit {
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 37px;
  padding: 15px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.userprofile img {
  cursor: pointer;
  width: 30px;
}
.username {
  font-size: 27px;
}
